streamlit
pandas
numpy
plotly
scikit-learn
matplotlib
seaborn
openpyxl
daytona
python-dotenv
pyarrow
google-generativeai
optuna
shap
imbalanced-learn
xgboost
lightgbm
catboost
fpdf
jinja2
pyyaml
joblib
imblearn 


